html
  head
    title= title
    script(src="https://code.jquery.com/jquery-3.3.1.js")
  body
    h1= message
    div
      input#number(type=text)
      button#call(type="button") Call
      div#keys
        form 
          for key in keys
            button.action(type="button")= key.value
    div#log


  script.
    $(document).ready(function(){

        var socket = new WebSocket("ws://192.168.241.14:3006");

        socket.onmessage = function (event) {
            $('#log').append('<br/>' + event.data);
        }

        $('#call').click(function(evt) {
            var number = $('#number').val();
            //console.log(number)
            //console.log(socket)
            socket.send(number.toString());
        })

        $('.action').click(function(evt) {
            var action = evt.target.innerHTML;
            console.log(action)
            socket.send(action.toString());
        })
    });
    
